* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px inset white;
    background-color: lightgray;
    
    
}

.row {
    display: flex;
    flex-direction: row;
    
}

img {
    width: 45px;
}

.blue, .green, .red, .hide, .empty, .image{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dotted black;
    border-collapse: collapse;
    border-left: none;
    border-top: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}


/*.hide{
    background-color: gray;
    border-width: 1px;
    border-style: inset;
    border-color: white;
    border-right:2px solid black;
    border-bottom: 2px solid black;
} */





.z {
    width: 35px;
    height: 35px;
    background-color: gray;
    border-width: 1px;
    border-style: outset;
    border-color: white;
    border-right:2px solid black;
    border-bottom: 2px solid black;
}

.z, .hide>.red{
    position: absolute;
}

.z:hover{
    opacity: 0%;
}



